@import "variables.scss";
@import "templates.scss";
@import "mixins.scss";

/* COMMON STYLES START */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a,
span,
::before,
::after {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  display: inline-flex;
  transition: $tr_time;
  padding: 10px;
}
input {
  font: inherit;
  border: 0;
}
img {
  object-fit: cover;
}
body {
  font-family: "Mplus1p", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  background-color: $bg_color;
  color: $text_color;
}
a {
  color: $text_color;
  padding: 10px;
  transition: $tr_time;
  &:hover,
  &:focus-within {
    color: $brand_color;
  }
}
.main {
  overflow-x: hidden;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-left: -10px;
}
@import "menu.scss";
@import "button.scss";
@import "offer.scss";
.socials {
  display: flex;
  column-gap: 10px;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-copyright:before {
  content: "\e906";
  color: #cdcdcd;
}
.icon-account:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-bag:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
/* COMMON STYLES END */